flow.json
[{"id":"7c0bcee48c522c4a","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"9220f7b330ce32f8","type":"http response","z":"7c0bcee48c522c4a","name":"","statusCode":"","headers":{},"x":770,"y":380,"wires":[]},{"id":"a0217bdd7bdce227","type":"http in","z":"7c0bcee48c522c4a","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":230,"y":440,"wires":[["4074667c6e9dca8e","080fd4121115a82a"]]},{"id":"ad19025e6ca90574","type":"file","z":"7c0bcee48c522c4a","name":"sensor_value_1","filename":"sensor_value_1","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":460,"wires":[[]]},{"id":"13a320d24d2822a0","type":"template","z":"7c0bcee48c522c4a","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"Done","output":"str","x":620,"y":380,"wires":[["9220f7b330ce32f8"]]},{"id":"c213b5d6d9c6505c","type":"http in","z":"7c0bcee48c522c4a","name":"","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":250,"y":160,"wires":[["9e0fddab9190c325","83b1b9e29671d305"]]},{"id":"813fdf457f5af92d","type":"file in","z":"7c0bcee48c522c4a","name":"sensor_value_1","filename":"sensor_value_1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":620,"y":120,"wires":[["0e8688407678e671"]]},{"id":"307f983671521815","type":"switch","z":"7c0bcee48c522c4a","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":500,"wires":[["ad19025e6ca90574"],["445ece5bf8fe8799"],["461102920303ea1d"]]},{"id":"445ece5bf8fe8799","type":"file","z":"7c0bcee48c522c4a","name":"sensor_value_2","filename":"sensor_value_2","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":500,"wires":[[]]},{"id":"461102920303ea1d","type":"file","z":"7c0bcee48c522c4a","name":"sensor_value_3","filename":"sensor_value_3","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":540,"wires":[[]]},{"id":"8715933bdb56a800","type":"file in","z":"7c0bcee48c522c4a","name":"sensor_value_3","filename":"sensor_value_3","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":620,"y":200,"wires":[["0e8688407678e671"]]},{"id":"a05cf12185613b4f","type":"file in","z":"7c0bcee48c522c4a","name":"sensor_value_2","filename":"sensor_value_2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":620,"y":160,"wires":[["0e8688407678e671"]]},{"id":"a03930d01827e941","type":"http response","z":"7c0bcee48c522c4a","name":"","statusCode":"","headers":{},"x":990,"y":160,"wires":[]},{"id":"9e0fddab9190c325","type":"switch","z":"7c0bcee48c522c4a","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":160,"wires":[["813fdf457f5af92d"],["a05cf12185613b4f"],["8715933bdb56a800"]]},{"id":"0e8688407678e671","type":"template","z":"7c0bcee48c522c4a","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{{payload}}","output":"str","x":840,"y":160,"wires":[["a03930d01827e941"]]},{"id":"4074667c6e9dca8e","type":"switch","z":"7c0bcee48c522c4a","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"424242","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":460,"wires":[["13a320d24d2822a0","307f983671521815"],["d2db7081b5b49c92"]]},{"id":"f08f257a9404f8ef","type":"http response","z":"7c0bcee48c522c4a","name":"","statusCode":"","headers":{},"x":770,"y":640,"wires":[]},{"id":"d2db7081b5b49c92","type":"template","z":"7c0bcee48c522c4a","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"Bad key","output":"str","x":620,"y":640,"wires":[["f08f257a9404f8ef"]]},{"id":"7b09dbf33dcd32d4","type":"join","z":"7c0bcee48c522c4a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":880,"wires":[["fd9270f1d88f1340"]]},{"id":"a726ebdc90f2b815","type":"http in","z":"7c0bcee48c522c4a","name":"","url":"/status_all","method":"get","upload":false,"swaggerDoc":"","x":280,"y":880,"wires":[["fb50644dd2a3d3a5","1c71b5b86380094d","3b0e711ee9f359f6","f7bc0d0dd59153ed"]]},{"id":"fb50644dd2a3d3a5","type":"file in","z":"7c0bcee48c522c4a","name":"sensor_value_1","filename":"sensor_value_1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":520,"y":840,"wires":[["7b09dbf33dcd32d4"]]},{"id":"3b0e711ee9f359f6","type":"file in","z":"7c0bcee48c522c4a","name":"sensor_value_3","filename":"sensor_value_3","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":520,"y":920,"wires":[["7b09dbf33dcd32d4"]]},{"id":"1c71b5b86380094d","type":"file in","z":"7c0bcee48c522c4a","name":"sensor_value_2","filename":"sensor_value_2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":520,"y":880,"wires":[["7b09dbf33dcd32d4"]]},{"id":"561a422b70fa07c7","type":"http response","z":"7c0bcee48c522c4a","name":"","statusCode":"","headers":{},"x":1010,"y":880,"wires":[]},{"id":"fd9270f1d88f1340","type":"template","z":"7c0bcee48c522c4a","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[{{{payload}}}]","output":"str","x":860,"y":880,"wires":[["561a422b70fa07c7"]]},{"id":"f7bc0d0dd59153ed","type":"debug","z":"7c0bcee48c522c4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":780,"wires":[]},{"id":"080fd4121115a82a","type":"debug","z":"7c0bcee48c522c4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":380,"wires":[]},{"id":"83b1b9e29671d305","type":"debug","z":"7c0bcee48c522c4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]}]